<launch>
    <!-- Parameters -->
    <param name="use_sim_time" value="true"/>


    <node pkg="tf2_ros" type="static_transform_publisher" name="laser_front_tf_pub" args="0.3 0 -0.115 -3.142 0.002 -0.002 base_link laser_front" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="laser_back_tf_pub" args="-0.3 0 -0.115 -3.142 0.002 3.142 base_link laser_back" /> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_body" args="0 0 0 0 0 0 base_link body_link" />  


    <!-- IRA Laser Scan Merger -->
    <node name="laser_merger" pkg="ira_laser_tools" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="base_link"/>
      <param name="cloud_destination_topic" value="/merged_cloud"/>
      <param name="scan_destination_topic" value="/merged_scan"/>
	    <param name="angle_min" value="-3.141592653589793238462643383279"/>
	    <param name="angle_max" value="3.141592653589793238462643383279"/>
	    <param name="angle_increment" value="0.005058925368"/>
      <param name="scan_time" value="0.0333333"/>
	    <param name="range_min" value="0.0"/>
	    <param name="range_max" value="100.0"/>
      <!-- <param name="angle_min" value="-3.14159"/>
      <param name="angle_max" value="3.14159"/> -->
      <!-- <param name="angle_max" value= "3.13577"/> -->
      <!-- <param name="angle_increment" value="0.005817764173314431"/> -->
      <param name="laserscan_topics" value="/filtered_front_scan /filtered_back_scan" />
    </node>


    <!-- slam_toolbox (async mode for online mapping) -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
      <rosparam command="load" file="$(find second_project)/config/slam_toolbox_params.yaml" />
      <!-- <param name="debug_logging" value="true"/>   -->
      <param name="scan_topic" value="/merged_scan"/>  <!-- Use the merged scan topic -->
      <param name="odom_frame" value="odom"/>  <!-- Your odometry frame -->
      <param name="base_frame" value="base_link"/>  <!-- Your base frame -->
      <param name="map_frame" value="map"/>  <!-- Your map frame -->
      <!-- <remap from="scan" to="/merged_scan"/> 
      <remap from="odom" to="/odom" />  Your odometry topic -->
    </node>


    <!-- Custom Nodes -->
    <node pkg="second_project" type="odom_to_tf" name="odom_to_tf" output="screen"/>
    <node pkg="second_project" type="laser_merge" name="laser_merge" output="screen"/>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find second_project)/rviz/robot_navigation2.rviz"/> -->
</launch>
